@import "tailwindcss";

@theme {
  --font-sans: 'Lora', Georgia, serif;
  --animate-scroll: scroll 37s linear infinite;
  --breakpoint-hd: 1280px;
  --breakpoint-fhd: 1920px;
  --breakpoint-4k: 2560px;
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
}


@keyframes pop {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }

  4% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }

  16% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(1);
  }
}

.pop {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  animation: pop 35s infinite both;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 7s;
}

.delay-2 {
  animation-delay: 14s;
}

.delay-3 {
  animation-delay: 21s;
}

.delay-4 {
  animation-delay: 28s;
}

@keyframes green-glow {
  0%, 100% { box-shadow: 0 0 5px rgba(34, 197, 94, 0.6); }
  50% { box-shadow: 0 0 20px rgba(34, 197, 94, 1); }
}

.animate-glow-green {
  animation: green-glow 1.5s ease-in-out infinite;
  z-index: 10; /* Pour que le glow passe par-dessus les autres cellules */
}