@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@theme {
  --font-sans: 'Almendra', 'Georgia', serif;
}

.container{
    margin:auto auto;
    font-family: 'Quicksand, sans-serif';
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;  
}

